*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
:root
{
    --primery-color:#f6b200;
    --secondry-color:#232323;
}
html,body{
    width: 100vw;
    height: 100vh;
}
/* Header */
header {
    width: 100vw;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 1vw 6vw;
    margin: 0 auto;
}
header .left h1{
    font-size:1.2em ;
    color: var(--primery-color);
}
header .left h1 span{
    color: blue;
}

/* Navbar */
nav ul{
    display: flex;
    height: 100%;
    align-items: center;
    gap: 2vw;
}
ul{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color:var(--secondry-color);
    font-size: 1rem;
}
/* Dropdown code */
nav .dropdown {
    position: relative;
}
nav .dropdown-menu {
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 6vw;
    height: 8vw;
    padding: 0.6vw;
    gap: 1vw;
    top: 1.3em;
    left: 1em;
}
nav .dropdown-menu li{
    font-size: 1.15rem;
    font-weight: 300;
}
nav .dropdown-1, .dropdown-2{
    display: none;
}
nav .dropdown:hover .dropdown-1{
    display:block;
}
nav .dropdown:hover .dropdown-2{
    display:block;
}

/* Right side code */
.right{
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1vw;
    position: relative;
}
.right input {
    height: 3vw;
    width: 12vw;
    border-radius: 5px;
    outline: none;
    padding: .4rem 1.6rem;
    font-size: 0.8em;
    opacity: 0.6;
    border: 1px solid #c8c8c8;
    color:var(--secondry-color);
    font-size: 16px;
}
.right input:placeholder{
    color: var(--secondry-color);
}
.right label{
    position: absolute;
    left: 4px;
    font-size: 0.8em;
    opacity: 0.6;
}
.right label i{
    color:var(--secondry-color);
    font-size: 16px;
}
.right a{
    text-decoration: none;
    color: var(--secondry-color);
    opacity: 0.6;
}
.right .cart{
    border: 1px solid #abaaaa;
    padding: 0.5vw;
    border-radius: 5px;
}
.right img {
    width: 3vw;
    height:3vw;
    border-radius: 50%;
    opacity: 0.8;
    border: 1px solid #ccc;
    position: relative;
    top: 0.25vw;
}

/* Body Part */
main {
    width: 100%;
    height: calc(100vh - 75px);
}

.hero-section {
    width: 100%;
    height: 83%;
    display: flex;
    justify-content: space-evenly;
}

.hero-section .left-side {
    width: 49%;
    height: 100%;
    padding-left:8vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-section .left-side h2{
    width: 75%;
    font-size: 4.5rem;
    color:var(--secondry-color);
    font-weight: 800;
    line-height: 0.95;
    margin-bottom: 10px;
}
.hero-section .left-side h2 span{
    color: var(--primery-color);
}

.hero-section .left-side p {
    width: 80%;
    font-size: 1rem;
    color: #747474;
    padding-left: 0.5rem;
    margin-bottom: 15px;
}

.hero-section .left-side .shop-now-btn {
    background-color: var(--secondry-color);
    color: #ffff;
    width: 35%;
    height: 15%;
    font-size: 1.2rem;
    border-radius: 40px;
    border: none;
    outline: none;
}
.hero-section .left-side .shop-now-btn a{
    color: #fff;
    text-decoration: none;
}

.hero-section .right-side {
    width: 49%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section .right-side img{
    z-index: -1;
    width: 85%;
    width: 100%;
    height: 95vh;
    position: relative;
    top: -1vw;
    right: -0.5vw;
}

.bottom-sec {
    width: 100%;
    height: 17%;
    background: var(--primery-color);
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.bottom-sec .box{
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.bottom-sec .box img{
    width: 25%;
    height: 50%;
}
.bottom-sec .box .con-text{
    display: flex;
    flex-direction: column;
}
.bottom-sec .box .con-text span{
   font-size: 1.7vw;
   font-weight: 700;
}
.bottom-sec .box .con-text p{
    opacity: 0.8;
}